<template>
  <div>
  <index-table :setup="table_setup" :setCartItem="removeCartItem"></index-table>
  <v-btn @click="addClosedCart()">Finalizar Carrinho</v-btn>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'CartList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../shared/IndexTable'),
  },
  data: () => ({
    one_client: null,
    table_setup:{
      table_name: 'Carrinho',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Action', value: 'action'}
      ],
      items: [
        
      ],
      button: {
          name: 'Remove',
          icon: 'mdi-cart-off'
      }
    },
  }),
  mounted () {
    this.indexOneCart()
  },
  methods: {
    removeCartItem(item) { //adicionar um item ao carrinho
      this.removeItem(item)
    },
    addClosedCart(){
      let cart = localStorage.getItem('one_cart')
     localStorage.setItem('close_carts', cart)
    },
    ...mapActions({
        removeItem: 'Cart/removeOneItem',
        indexOneCart: 'Cart/index'
    })
  },
  computed: {
    ...mapGetters({
      allProductsCart: 'Cart/getOneCartItems'
    })
  },
  watch: {
    allProductsCart(nv, ov) {
      console.log({ov});
      console.log({nv});
      if (nv){
        this.table_setup.items = [...nv]
      }
    }
  },
}
</script>
<style scoped>

</style>