<template>
  <div>

    <v-card-title>
      {{ setup.table_name }}
      <v-spacer></v-spacer>
      <v-text-field v-model="setup.search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
    </v-card-title>

    <v-data-table :headers="setup.headers" :items="setup.items" :search="setup.search" class="elevation-1">
      <template v-slot:top>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn v-model="item.action" @click="setCartItem(item)"><v-icon>{{ setup.button.icon }}</v-icon> {{ setup.button.name }}</v-btn>
      </template>
      <template v-slot:item.buttons="{ item }">
        <v-btn v-model="item.buttons" @click="editProduct(item)"><v-icon>{{ setup.button1.icon }}</v-icon> {{ setup.button1.name }}</v-btn>
        <v-btn v-model="item.buttons" @click="deleteProduct(item)"><v-icon>{{ setup.button2.icon }}</v-icon> {{ setup.button2.name }}</v-btn>
      </template>
    </v-data-table>
    
  </div>
</template>

<script>
  export default {
    props: {
      setup: {
        type: Object,
      },
      setCartItem: {
        type: Function,
      },
      editProduct: {
        type: Function,
      },
      deleteProduct: {
        type: Function,
      }
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>

</style>