<template>
    <nav>
        <v-app-bar app>
            <v-app-bar-nav-icon class="grey--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title class="text-uppercase grey--text">
                <span class="font-weight-light">Mercado</span>
            </v-toolbar-title>
        </v-app-bar>

    <v-navigation-drawer v-model="drawer" app class="indigo">
        <v-list>
            <v-list-item v-for="link in links" :key="link.text" router :to="link.route">
                <v-list-item-action>
                    <v-icon class="white--text">{{ link.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-subtitle class="white--text">{{ link.text }}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>

    </nav>

</template>


<script>
export default {
    data() {
        return {
            drawer: false,
            links: [
                { icon: '', text: 'Lista de Produtos', route: '/' },
                { icon: '', text: 'Adicionar Produtos', route: '/add'},
                { icon: '', text: 'Verificar Carrinhos', route: '/Verify'}
            ]
        }
    }
}
</script>