<template>
  <div>
    
    <v-dialog v-model="dialog" max-width="500px">
      <template v-slot:activator="{ on }">
        <v-btn color="primary" dark class="mb-2" v-on="on">Adicinar Produto</v-btn>
      </template>
      <v-card>
        <v-card-title>
          {{ formTitle }}
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="newProduct.name" label="Nome do Produto"></v-text-field>
          <v-text-field v-model="newProduct.value" label="Valor do Produto"></v-text-field>
          <v-text-field v-model="newProduct.category" label="Categoria do Produto"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="close()">Cancelar</v-btn>
          <v-btn color="primary" @click="save(newProduct)">Salvar</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
    <index-table :setup="table_setup" :deleteProduct="deleteFromProductList" :editProduct="editFromProductList"></index-table>

  </div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'ProductList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../components/shared/IndexTable'),
  },
  data: () => ({
    one_client: null,
    table_setup:{
      table_name: 'Lista de Produtos',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Categoria', value: 'category'},
        {text: 'Ação', value: 'buttons'}
      ],
      items: [
        
      ],
      button1: {
        name: 'Editar',
        icon: 'mdi-pencil'
      },
      button2: {
        name: 'Excluir',
        icon: 'mdi-delete'
      },
      search: '',
    },
    dialog: false,
    editIndex: -1,
    newProduct: {
      name: '',
      value: 0,
      category: '',
      approved:false
    },
    defaultProduct: {
      name: '',
      value: 0,
      category: '',
    }
  }),
  mounted () {
    this.indexProducts()
  },
  methods: {
    deleteFromProductList(item) {
      this.deleteOneProduct(item)
    },
    editFromProductList(item) {
      console.log(item)
      this.editOneProduct(item)
      this.editIndex = this.table_setup.items.indexOf(item)
      this.newProduct = Object.assign({}, item)
      this.dialog = true
    },
    ...mapActions({
      indexProducts: 'Product/index',
      setOneProduct: 'Product/addOneItem',
      deleteOneProduct: 'Product/deleteOneProduct',
      editOneProduct: 'Product/editOneProduct'
    }),
    close() {
      this.dialog = false
      this.newProduct = Object.assign({}, this.defaultProduct)
      this.editIndex = -1
    },
    save(item) {
      this.setOneProduct(item)
      this.close()
    }
  },
  computed: {
    formTitle () {
        return this.editIndex === -1 ? 'New Item' : 'Edit Item'
      },
    comp_items() {
      if (this.allProductsComponent){
        return this.allProductsComponent.map(o=>{return {name: `produto : ${o.name}`, value: `${o.value}`, addCart: `${o.addCart}`}})
      }
      return this.data 
    },
    ...mapGetters({
      allProductsComponent: 'Product/getAllProducts'
    })
  },
  watch: {
    allProductsComponent(nv, ov) {
      console.log({ov});
      console.log({nv});
      if (nv){
        this.table_setup.items = [...nv]
      }
    },
  },
}
</script>
<style scoped>

</style>
