<template>
  
    <v-container>

      <product-list></product-list>
      <new-cart></new-cart>
      
    </v-container>

</template>

<script>

export default {
  name: 'Home',
  components: {
    ProductList: () => import(/* webpackChunkName: "ProductList.vue" */ '../components/product/ProductList'),
    NewCart: () => import(/* webpackChunkName: "NewCart.vue" */ '../components/Cart/NewCart'),
  }
}
</script>
