<template>
  <div>
    
    <index-table :setup="table_setup" :setCartItem="submitApprovedItem"></index-table>

  </div>

</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'ProductList',
  components: {
    IndexTable: () => import(/* webpackChunkName: "IndexTable.vue" */ '../components/shared/IndexTable'),
  },
  data: () => ({
    one_client: null,
    table_setup:{
      table_name: 'Lista de Produtos',
      headers:[
        {text: 'Produto', value: 'name'},
        {text: 'Valor (R$)', value: 'value'},
        {text: 'Aprovado', value: 'approved'},
        {text: 'Carrinho', value: 'action'}
      ],
      items: []
      ,
      button: {
        name: 'Verificar Carrinho',
        icon: 'mdi-check'
      },
      search: '',
    },
  }),
  mounted() {
    let close_carts = JSON.parse(localStorage.getItem('close_carts'))
    this.table_setup.items = close_carts.items
  },
  methods: {
      submitApprovedItem(item){
          this.setCartItem(item)
      },
      ...mapActions({
          setCartItem: 'Cart/approveOneItem'
      })
  },
  computed: {
    comp_items() {
      if (this.getCloseCartsItems){
        return this.getCloseCartsItems.map(o=>{return {name: `produto : ${o.name}`, value: `${o.value}`}})
      }
      return this.data 
    },
    ...mapGetters({
      getCloseCartsItems: 'Cart/getCloseCartsItems'
    }),
  },
  watch: {
    getCloseCartsItems(nv) {
      if (nv){
        localStorage.setItem('close_carts', JSON.stringify(nv))
      }
    }
  },
}
</script>
<style scoped>

</style>